.cards__title {
<<<<<<< HEAD
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
=======
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
>>>>>>> 0059581f694804bdab3dc23fb6305d369c8608a9
}